<nav role="navigation" id="main-nav">
	<ul>
		<li><a href="/">Headquarters</a></li>
		<li><a href="/fortress">Fortress of RWD</a></li>
		<li><a href="/codecave">The Codecave</a></li>
		<li><a href="/heroes">Our Heroes</a></li>
	</ul>
</nav>