{% block title %}The Codecave{% endblock %}

{% block article %}
	<h2>Projects</h2>
	<ul class="panel">
		<li><a href="#"><img src="" alt="" width="200" height="200"/><span>IE Mode</span></a><p>Script to alert users when they are browsing a site in IE7/IE Compatibility mode. Launch in IE7 to view alert message.</p></li>
		<li><a href="#"><img src="" alt="" width="200" height="200"/><span>Mediaelement</span></a><p>Guide to implementing cross-browser-friendly HTML5 video using mediaelement.js</p></li>
		<li><a href="#"><img src="" alt="" width="200" height="200"/><span>Respond</span></a><p>Responsive site on the basics of responsive design</p></li>
		<li><a href="#"><img src="" alt="" width="200" height="200"/><span>Case Study: Nissan Global Careers</span></a><p>Real-world example of successful responsive design/development workflow</p></li>
	</ul>
{% endblock %}

{% block aside %}
	<section>
		<h3>Code Library</h3>
		<p>Download resource files, or link to them directly:</p>
		<ul class="bulleted">
			<li><h4>Flexslider (with IE10 bug fix)</h4> - <a href="lib/culture-gallery/js/jquery.flexslider.js">full</a> | <a href="lib/culture-gallery/js/jquery.flexslider-min.js">min</a></li>
			<li><strong>Image/video gallery</strong>
				<ul>
					<li>Carousel - <a href="lib/culture-gallery/css/carousel.css">CSS</a> | <a href="lib/culture-gallery/js/carousel_v2.0.js">JS</a> | <a href="lib/culture-gallery/js/mediaelement.zip">Mediaelement resources</a></li>
					<li>Thumbnail gallery - <a href="lib/culture-gallery/css/basic.css">CSS</a> | <a href="lib/culture-gallery/js/basic.js">JS</a></li>
					<li>Thumbnails w/ preview - <a href="lib/culture-gallery/css/bigpreview.css">CSS</a> | <a href="lib/culture-gallery/js/bigpreview.js">JS</a></li>
					<li>Thumbnails w/preview and caption - <a href="lib/culture-gallery/css/showcaption.css">CSS</a> | <a href="lib/culture-gallery/js/showcaption.js">JS</a></li>
				</ul>
			</li>
			<li><h4>PlumTube</h4>
				<ul>
					<li><a href="lib/plumtube/plumtube.min.js">v2.0</a> (requires jQuery 1.6.0+)</li>
					<li><a href="lib/plumtube/plumtube_v1.0.min.js">v1.0</a></li>
				</ul>
			</li>
			<li><h4>WWM CSS boilerplates</h4>
				<ul>
					<li><a href="lib/wwm/microsite.css">Microsite</a></li>
					<li><a href="lib/wwm/widget.css">Widget</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h3>Test</h3>
	</section>
{% endblock %}