{% block title %}Hall of Standards{% endblock %}

{% block article %}
	<section>
		<h2>Meanwhile, in the Hall of Web Standards...</h2>
		<h3>What's with the blue beanies?</h3>
		<img src="{{ "lou-beanies-2012.jpg" | asset_url }}" alt="LOU dev team wearing blue beanies">
		<p>November 30 is Blue Beanie Day - an international celebration of web standards observed by UI developers everywhere (including members of our Louisville dev team, pictured above). Learn more about the event on <a href="http://bluebeanieday.tumblr.com/">Tumblr</a>, then check out photos of other developers in their blue beanies on <a href="http://www.flickr.com/groups/bbd13/">Flickr</a>.</p>
	</section>
	<section>
		<h2>Knowledgebase</h2>
		<div class="iframe-wrap">
			<iframe src="//www.youtube.com/embed/ZpjTZ8MRSew?rel=0" frameborder="0" allowfullscreen>Your browser does not support iframes. You can watch this video <a href="//www.youtube.com/embed/ZpjTZ8MRSew?rel=0">here</a>.</iframe>
		</div>
	</section>
{% endblock %}

{% block aside %}
	<section>
		<h3>UI Super Friends Hotline</h3>
		<p>Blighted by browser bugs? Not sure how to respond to responsive design? Contact your friendly neighborhood developer at: <a href="mailto:ui@tmp.com" class="hotline">ui@tmp.com</a></p>
		<img class="bunnycake" src="{{ "bunny-pancake.jpg" | asset_url }}" alt="bunny with a pancake on its head"/>
		<p>Our operators (and this bunny with a pancake on its head) are standing by!</p>
	</section>
	<section>
		<h3>The Oath of Standards</h3>
		<p><em>[as of 24 November 2013 - see <a href="http://www.tmp.com/web-standards/">tmp.com</a> for full documentation]</em></p>
		<p>The members of the TMP UI Super Friends pledge to support:</p>
		<h4>Code and accessibility standards</h4>
		<ul class="bulleted">
			<li><a href="http://www.w3c.org/">World Wide Web Consortium (W3C) best practices</a></li>
			<li><a href="http://www.tmp.com/web-standards/docs/wcag-2-level-a-overview.pdf">WCAG 2.0 Level A success criteria</a></li>
		</ul>
		<h4>Browsers</h4>
		<p>For all browsers except Internet Explorer, our company supports the current and prior major release versions. Supported versions of Internet Explorer are as listed below. Modified versions and forced "Compatibility Mode" are not supported.</p>
		<ul class="bulleted">
			<li>Chrome</li>
			<li>Firefox</li> 
			<li>Safari</li>
			<li>Internet Explorer 10</li> 
			<li>Internet Explorer 9</li>
		</ul>
		<p>The Super Friends will also offer <a href="http://www.tmp.com/web-standards/#limited-support">limited support</a> to Internet Explorer 8 for candidate-facing websites.</p>
	</section>
{% endblock %}