/* avast, matey, acquire ye compass */
@import "compass/css3";
@import "compass/support";
@import "breakpoint";
@import url(http://fonts.googleapis.com/css?family=Cinzel|Permanent+Marker|Ubuntu:300,400,700);

/* =================================================================
functions, mixins, and variables
================================================================= */
@function pem($pixels) {
	@return #{$pixels/16.0}em
}

@mixin wai {
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
}

@mixin box-sizing($boxsize) {
	-moz-box-sizing: $boxsize;
	box-sizing: $boxsize;
}

@keyframes spin
{
from {
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
}
to {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
}
}
@-webkit-keyframes spin 
{
from {
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
}
to {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);}
}

$beanie: #59c3ef;
$beanie_dk: #0c7ba9;
$end_mobile: 800px;
$breakNine: 900px;
$experimental-support-for-svg: true;
$ltgrey: #e7e7e7;
$mdgrey: #e1e1e1;
$red: #ee0000;
$red_dk: #dd0000;
$yellow: #fff800;

/* =================================================================
style reset - https://github.com/necolas/normalize.css 
================================================================= */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a:active, a:focus, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
[hidden] { display: none; }
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -ms-text-size-adjust: 100%;}
img { border: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
ul, ol, li { margin: 0; padding: 0; }

/* =================================================================
base structure and classes
================================================================= */
body {
  background: inline-image("bg-dot.png") repeat #FCFCFC;
  color: #000;
  font: 300 .92em/1.4em 'Ubuntu', Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

main {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 20px 5px;
  @include breakpoint($end_mobile) {
	  padding: 20px;
  }
}

article section, aside section {
  background: #fff;
  border: 4px solid #000;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 15px;
}

article {
	float: left;
	width: 100%;
	@include breakpoint($end_mobile) {
		margin-right: 2%;
		width: 63%;
		.heroes & {
			margin-right: 0;
			width: 100%;
		}
	}	
}

aside {
	float: right;
	width: 100%;
	@include breakpoint($end_mobile) {
		width: 35%;
		.heroes & {
			width: 100%;
		}
	}
}
section {
	margin-bottom: 1em;
	img {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 3px solid #000;
		border-radius: 2px;
		display: block;
		height: auto;
		margin-bottom: 1em;
		width: 100%;
		&.bunnycake {
			margin: 0 auto 1em;
			max-width: 400px;
		}
		&#rwd-emblem {
			border: 0;
			margin: 0 auto 1em;
			max-width: 370px;
		}
	}
}

article h2, aside h3 {
	background: #000;
	color: #fff;
	font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
	line-height: 1em;
	margin: 10px -15px 15px;
	padding: 10px;
	&:first-child {
		margin-top: -15px;
	}
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
	&.subhead-small {
		font-size: 1.167em;
	}
}
h4 {
	font-size: 1em;
	margin: 0;
}
p {
	margin: 0 0 1em;
	&:last-child {
		margin: 0;
	}
}
a {
	color: $red;
	text-decoration: none;
	&:hover, &:focus {
		color: $beanie_dk;
	}
	&.hotline {
		display: block;
		font-size: 2em;
		line-height: 150%;
		text-align: center;
	}
}

iframe {
	height: 100%;
	position: absolute;
	width: 100%;
}
.iframe-wrap {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 0;
	padding-bottom: 60.625%;
	position: relative;
	width: 100%;
}
.bulleted {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
	&.code > li {
		margin-bottom: 1em;
	}
	li {
		background: inline-image("custom-bullet.png") no-repeat left .5em;
		padding: 0 0 0 18px;
		
		ul {
			list-style: none;
			margin: .25em 0 0;
			li {
				background: inline-image("custom-bullet-small.png") no-repeat left .5em;
				margin-left: 5px;
				padding: 0 0 0 15px;
			}
		}
	}
	span {
		font-size: .92em;
	}
}

.panel {
	/*display: -webkit-flex;
	flex-flow: row wrap;*/
	list-style: none;
	overflow: hidden;
	li {
		background: #000;
		border-radius: 2px;
		@include box-sizing(border-box);
		color: #fff;
		float: left;
		margin-bottom: 2%;
		width: 100%;
		@include breakpoint(450px) {
			width: 49%;
			&:nth-child(odd) {
				clear: both;
				margin-right: 2%;
			}
		}
		@include breakpoint(600px) {
			margin-right: 2%;
			width: 32%;
			&:nth-child(odd) {
				clear: none;
				margin-right: 2%;
			}
			&:nth-child(3n+3) {
				margin-right: 0;
			}
			&:nth-child(3n+4) {
				clear: both;
			}
		}
		@include breakpoint($end_mobile) {
			margin-right: 0;
			width: 49%;
			&:nth-child(odd) {
				clear: both;
				margin-right: 2%;
			}
			&:nth-child(3n+4) {
				clear: none;
			}
		}
		@include breakpoint(1000px) {
			margin-right: 2%;
			width: 32%;
			&:nth-child(3n+3) {
				margin-right: 0;
			}
			&:nth-child(odd) {
				clear: none;
			}
			&:nth-child(3n+4) {
				clear: both;
			}
		}
	}
	a {
		display: block;
		font-size: 1.2em;
		font-weight: 700;
		@include transition(color 100ms linear);
		&:hover, &:focus {
			color: $beanie;
		}
	}
	img {
		background: #fff;
		border: 4px solid #000;
		border-radius: 2px;
		@include box-sizing(border-box);
		display: block;
		margin: 0;
		width: 100%;
	}
	span, p {
		display: block;
		padding: 5px 10px;
	}
	p {
		padding: 0 10px;
		line-height: 1.25em;
		margin-bottom: 10px;
		@include breakpoint($end_mobile) {
			font-size: .92em;
		}
	}
}

/* =================================================================
header
================================================================= */
header {
  background: inline-image("header-texture.png") repeat $beanie;
  overflow: hidden;
  
  @include breakpoint($end_mobile) {
	margin-bottom: 2.5em;
  }
  
  h1 span, #logo {
	display: block;
	margin: auto;
	max-width: 900px;
	position: relative;
	width: 100%;
	@include transition(all 200ms linear);
  }
  
  h1 {
    background: $mdgrey;
	border-color: $ltgrey transparent;
	border-style: solid;
	border-width: 3px 0;
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,.3), 2px 2px 5px 0 rgba(0,0,0,.4);
	color: #838383;
    font: normal 1.25em 'Cinzel', Times New Roman, serif;
	margin: 0;
	padding: 0 15px;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 0 #cecece, -1px -1px 0 #eeeeee;
	text-transform: uppercase;
	z-index: 1;
	
	@include breakpoint($end_mobile) {
		border-width: 8px 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 2em;
		margin-top: -.9em;
		overflow: hidden;
		position: absolute;
		top: 60px;
		width: 100%;
	}
	
	b {
	  font-weight: normal;
	  @include breakpoint($end_mobile) {
	    margin-right: 125px;
	  }
	}
  }
  
  &:after {
	    background: inline-image("starburst.png") no-repeat center;
		content: '';
		display: block;
		height: 350px;
		left: 50%;
		margin-left: -179px;
		position: absolute;
		top: -118px;
		width: 350px;
		z-index: 0;
		animation: spin 10s infinite linear;
		-webkit-animation: spin 10s infinite linear;
		
		@include breakpoint($end_mobile) {
			margin-left: -243px;
			z-index: 1;
		}
	}
}
#logo {
  background: url(../img/logo-sm.png) no-repeat center;
  height: 100px;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  text-indent: -9999%;
  z-index: 2;
  @include breakpoint($end_mobile) {
    background-position: 41% center;
  }
  @include breakpoint(900px) {
	 background-position: 42% center;
  }
}
#skip-to-nav {
	background: $mdgrey;
	border-color: #f2f2f2 #e9e9e9 #cccccc #d7d7d7;
	border-radius: 2px;
	border-style: solid;
	border-width: 10px;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.2);
	display: block;
	height: 35px;
	position: fixed;
	right: 10px;
	text-indent: -9999px;
	top: 10px;
	width: 35px;
	z-index: 3;
	@include breakpoint($end_mobile) {
		@include wai;
		border: 0;
		height: 0;
		width: 0;
	}
	&:before {
	@include filter-gradient(#e00003, #7a0000, horizontal); // IE6-8 fallback on horizontal gradient
	@include background-image(radial-gradient(center, ellipse cover,  rgba(224,0,3,1) 14%,rgba(122,0,0,1) 100%));
	background-color: rgb(224,0,3);
	border: 3px solid #cecece;
	border-radius: 25px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	display: block;
	height: 28px;
	left: 50%;
	margin: -14px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
	}
	&:hover, &.active, &:focus {
	&:before {
		@include filter-gradient(#b4dded, #59c3ef, horizontal);
		@include background-image(radial-gradient(center, ellipse cover,  rgba(180,221,237,1) 12%,rgba(89,195,239,1) 100%));
		background-color: rgb(180,221,237);
	}
	}
  @include wai;
}

#menu-button {
  background: $mdgrey;
  border-color: #f2f2f2 #e9e9e9 #cccccc #d7d7d7;
  border-radius: 2px;
  border-style: solid;
  border-width: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.2);
  display: block;
  height: 35px;
  position: fixed;
  right: 10px;
  text-indent: -9999px;
  top: 10px;
  width: 35px;
  z-index: 3;
  @include breakpoint($end_mobile) {
	display: none;
  }
  &:before {
	@include filter-gradient(#e00003, #7a0000, horizontal); // IE6-8 fallback on horizontal gradient
	@include background-image(radial-gradient(center, ellipse cover,  rgba(224,0,3,1) 14%,rgba(122,0,0,1) 100%));
	background-color: rgb(224,0,3);
	border: 3px solid #cecece;
	border-radius: 25px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	display: block;
	height: 28px;
	left: 50%;
	margin: -14px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
  }
  &:hover, &.active, &:focus {
	&:before {
		@include filter-gradient(#b4dded, #59c3ef, horizontal);
		@include background-image(radial-gradient(center, ellipse cover,  rgba(180,221,237,1) 12%,rgba(89,195,239,1) 100%));
		background-color: rgb(180,221,237);
	}
  }
}
nav {
	border-bottom: 4px solid #000;
	border-top: 4px solid #000;
	background: $red_dk;
	z-index: 2;
	@include breakpoint($end_mobile) {
		position: absolute;
		top: 8em;
		width: 100%;
	}
	ul {
		list-style: none;
		margin: 0 auto;
		max-width: 900px;
		padding: 0;
		@include breakpoint($end_mobile) {
			text-align: center;
		}
	}
	li {
		@include breakpoint($end_mobile) {
			display: inline;
		}
		&:first-child a {
			border-top: none;
		}
	}
	a {
		border-top: 2px solid #000;
		color: $yellow;
		text-shadow: none;
		display: block;
		font: 1.4em 'Permanent Marker', Arial, Helvetica, sans-serif;
		padding: 0 15px;
		text-decoration: none;
		text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
		&:hover, &:focus, &.active {
			background: #000;
			color: #fff;
			@include breakpoint($end_mobile) {
				background: none;
				color: #fff;
			}
		}
		li:first-child & {
			border-top: none;
		}
		@include breakpoint($end_mobile) {
			border: none;
			display: inline-block;
			@include transition(all 100ms linear);
			text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
		}
	}
}
footer {
	background: #000;
	color: #fff;
	font-size: .83em;
	line-height: 1.25em;
	margin-top: 1em;
	padding: 10px 15px;
	text-align: center;
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	p {
		margin-bottom: .5em;
		@include breakpoint($end_mobile) {
			display: inline;
		}
	}
	ul {
		display: inline-block;
		list-style: none;
		margin-bottom: .5em;
		@include breakpoint($end_mobile) {
			margin: 0 10px;
		}
		li {
			display: inline-block;
			a {
				border-left: 1px solid #fff;
				padding: 0 5px 0 6px;
			}
			&:first-child a {
				border: none;
				padding-left: 5px;
			}
		}
	}
}
.link-list {
	list-style: none;
	li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		display: block;
		font-size: 1.25em;
		font-weight: bold;
	}
	&.split {
		margin-bottom: 2em;
		&:after {
			clear: both;
			content: '';
			display: block;
		}
		li {
			@include breakpoint(550px) {
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				float: left;
				width: 50%;
				&:nth-child(odd) {
					clear: both;
					padding-right: .5em;
				}
				&:nth-child(even) {
					padding-left: .5em;
				}
			}
		}
		a {
			background: $beanie_dk;
			border: 3px solid #000;
			box-shadow: 1px 1px 3px 0 rgba(0,0,0,.4);
			color: #fff;
			padding: 10px;
			&:hover, &:focus {
				background: $red_dk;
				box-shadow: none;
			}
		}
		span {
			display: block;
			font-size: .92rem;
			font-weight: normal;
		}
	}
}

/* =================================================================
animations
================================================================= */
@keyframes batman
{
	from {
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0;
	}
	to {
		width: 800px;
		height: 800px;
		margin-left: -400px;
		margin-top: -400px;
	}
}

@-webkit-keyframes batman /* Safari and Chrome */
{
	from {
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0;
	}
	to {
		width: 800px;
		height: 800px;
		margin-left: -400px;
		margin-top: -400px;
	}
}
#html5 {
	width: 0;
	height: 0;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
}

.batmobile {
	animation: batman 500ms linear 2 alternate;
	-webkit-animation: batman 500ms linear 2 alternate;
}